body {
  background-color: #f6f8f7;
}

.container {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  padding-top: 25px;
}

.navbar a {
  color: black;
}

#navbarNav {
  padding-left: 90px;
}

.aboutpart {
  border-bottom: 3px solid black;
}

.about h1 {
  font-size: 91px;
  letter-spacing: 0px;
}

.subtitle p {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 90px;
  width: 60%;
}

.roundimg img {
  height: 208px;
  width: 208px;
  margin-top: 20px;
}

.firstcontent p {
  padding-top: 20px;
  color: #3e4242;
  font-size: 18px;
}

.mail {
  padding-left: 120px;
  padding-top: 30px;
}

.mail p {
  margin-bottom: 3px;
  margin-right: 0px;
}

@media only screen and (max-width: 992px) {
  .subtitle p {
    padding-bottom: 0px;
  }
}
